# 轉中小學to GIS

In [30]:
import pymssql
import pymongo

In [31]:
client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
#     client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
db=client['rawData']
db.collection_names()

['MRTinfo',
 'info3Store',
 'websites591',
 'taiwanInfo',
 'trainStation',
 'taiwanInfoIta',
 'eslite',
 'ipeenInfo',
 'conStore',
 'CostPower',
 'infoClinic',
 'Watsons',
 'pxmart',
 'taiwanInfoSuFood',
 'busData',
 'HRdata104',
 'wowprimediendata',
 'info591',
 'departmentStore',
 'carrefour',
 'smallStyleCount',
 'addressCoordinate',
 'Nhuman',
 'taiwanInfoStoneTwo',
 'ipeenWebsite',
 'realPriceLogin',
 'canSuMe',
 'bigStyleCount',
 'taiwanInfoHot7',
 'dahu',
 'primarySchool',
 'taiwanInfoMaBoss']

In [ ]:
collection = db.primarySchool

In [45]:
client.close()

In [3]:
primarySchool=list(collection.find({}))

In [10]:
list(primarySchool[0].keys())

['_id',
 '代碼',
 '學校名稱',
 '公/私立',
 '縣市名稱',
 '地址',
 '電話',
 '網址',
 'name',
 'address',
 'bigadd',
 'smalladd',
 'lat',
 'lng']

In [8]:
list(primarySchool[0].values())

['私立育才國小',
 '011601',
 '私立育才國小',
 '私立',
 '[01]新北市',
 '[234]新北市永和區福和路125巷20號',
 '(02)29214630',
 'http://www.ytes.ntpc.edu.tw',
 '私立育才國小',
 '[234]新北市永和區福和路125巷20號',
 '新北市',
 '永和區',
 25.007121985284826,
 121.5216634926424]

In [26]:
data=[(i['代碼'],i['學校名稱'],i['address'],i['bigadd'],i['smalladd'],i['lng'],i['lat'],"G1") for i in primarySchool]

In [27]:
data[0]

('011601',
 '私立育才國小',
 '[234]新北市永和區福和路125巷20號',
 '新北市',
 '永和區',
 121.5216634926424,
 25.007121985284826,
 'G1')

In [56]:
conn = pymssql.connect(server='172.20.26.39:22534', user='sim',
                           password='123', database='SIM',charset='utf8')

In [57]:
cursor = conn.cursor()

In [58]:
cursor.executemany("insert into GIS_MAPOBJECT (mobj_id,mobj_name,mobj_addr,CTRE_ID3,CTRE_ID4,mobj_lng,mobj_lat,mobj_type) values (%s, %s, %s, %s, %s, %s, %s, %s)",
    data)

In [59]:
conn.commit()

In [60]:
cursor.close()
conn.close()

# 轉換需計算個數的feature資料

In [393]:
import pymssql
import pymongo

In [394]:
client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
#     client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
db=client['rawData']
db.collection_names()

['MRTinfo',
 'info3Store',
 'websites591',
 'taiwanInfo',
 'trainStation',
 'taiwanInfoIta',
 'eslite',
 'ipeenInfo',
 'conStore',
 'CostPower',
 'infoClinic',
 'Watsons',
 'pxmart',
 'taiwanInfoSuFood',
 'busData',
 'HRdata104',
 'wowprimediendata',
 'info591',
 'departmentStore',
 'carrefour',
 'smallStyleCount',
 'addressCoordinate',
 'Nhuman',
 'taiwanInfoStoneTwo',
 'ipeenWebsite',
 'realPriceLogin',
 'canSuMe',
 'bigStyleCount',
 'taiwanInfoHot7',
 'dahu',
 'primarySchool',
 'taiwanInfoMaBoss']

In [395]:
# aaa=[]
# for i in collection.find():
#     if i.get("lat",i.get("LAT",0.0))!=0.0:
#         aaa.append([i.get("name",i.get("NAME",i.get("stationName",""))),
#          i.get("lat",i.get("LAT",0.0)),
#          i.get("lng",i.get("LNG",i.get("LON",0.0))),
#          i.get("bigadd",i.get("BIGADD","")),
#          i.get("smalladd",i.get("SMALLADD","")),
#          i.get("address",i.get("ADDRESS","")),
#          i.get("costPower",
#                i.get("SAL_MONTH_LOW",
#                      i.get("dinner",
#                            i.get("Nhuman",
#                                  i.get("price",
#                                        i.get("Ncomment",
#                                              i.get("每坪價格", i.get("in","")))))))),    
#          "XXX"])
# aaa

In [398]:
typeDict={"CostPower":"消費力",
"HRdata104":"104資料",
"MRTinfo":"捷運資料",
"Nhuman":"戶籍人口數",
"Watsons":"屈臣氏",
"addressCoordinate":"鄉鎮區經緯度",
"bigStyleCount":"愛評網大分類",
"busData":"公車站牌資料",
"canSuMe":"康是美",
"carrefour":"家樂福",
"conStore":"便利商店",
"dahu":"大戶屋",
"eslite":"誠品書局",
"info3Store":"三商巧福",
"info591":"591租屋資料",
"infoClinic":"診所",
"ipeenInfo":"愛評網",
"ipeenWebsite":"愛評網網址",
"pxmart":"全聯",
"realPriceLogin":"實價登錄",
"smallStyleCount":"愛評網小分類數量",
"taiwanInfo":"台灣分析資料",
"taiwanInfoHot7":"hot7好點預測",
"taiwanInfoIta":"義塔好點預測",
"taiwanInfoMaBoss":"麻老大好點預測",
"taiwanInfoStoneTwo":"石二鍋好點預測",
"taiwanInfoSuFood":"舒果好點預測",
"trainStation":"火車站",
"websites591":"591的網址",
"wowprimediendata":"王品店家資料",
"departmentStore":"便利商店","primarySchool":"國中國小"}

In [400]:
allLocationData=[]
for dbName in db.collection_names():
    if "taiwanInfo" not in dbName:
        collection = db[dbName]
        for i in collection.find():
            if i.get("lat",i.get("LAT",0.0))!=0.0 and len(str(i.get("name",i.get("NAME",i.get("stationName","")))).replace(" ",""))<200:
                allLocationData.append([
                 str(i.get("name",i.get("NAME",i.get("stationName","")))).replace(" ",""),
                 float(i.get("lat",i.get("LAT",0.0))),
                 float(i.get("lng",i.get("LNG",i.get("LON",0.0)))),
                 str(i.get("bigadd",i.get("BIGADD",""))).replace(" ",""),
                 str(i.get("smalladd",i.get("SMALLADD",""))).replace(" ",""),
                 str(i.get("address",i.get("ADDRESS",""))).replace(" ",""),
                 float(i.get("costPower",
                       i.get("SAL_MONTH_LOW",
                             i.get("dinner",
                                   i.get("Nhuman",
                                         i.get("price",
                                               i.get("Ncomment",0.0))))))),    
                 str(typeDict[dbName]).replace(" ","")])

In [401]:
client.close()

In [402]:
len(allLocationData)

305426

In [404]:
allLocationData=[tuple(i) for i in allLocationData]

In [405]:
try:
    client.close()
except:
    pass

In [406]:
conn = pymssql.connect(server='172.20.26.39:22534', user='sim',
                           password='123', database='SIM',charset='utf8')

In [407]:
cursor = conn.cursor()

In [408]:
cursor.executemany("insert into baseTable (name,lat,lng,bigadd,smalladd,address,pram,datatype) values (%s, %s, %s, %s, %s, %s, %s, %s)",
    allLocationData)

In [409]:
conn.commit()

In [410]:
cursor.close()
conn.close()

# 轉換王品店家

In [356]:
import pymssql
import pymongo

In [357]:
client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
#     client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
db=client['rawData']
db.collection_names()

['MRTinfo',
 'info3Store',
 'websites591',
 'taiwanInfo',
 'trainStation',
 'taiwanInfoIta',
 'eslite',
 'ipeenInfo',
 'conStore',
 'CostPower',
 'infoClinic',
 'Watsons',
 'pxmart',
 'taiwanInfoSuFood',
 'busData',
 'HRdata104',
 'wowprimediendata',
 'info591',
 'departmentStore',
 'carrefour',
 'smallStyleCount',
 'addressCoordinate',
 'Nhuman',
 'taiwanInfoStoneTwo',
 'ipeenWebsite',
 'realPriceLogin',
 'canSuMe',
 'bigStyleCount',
 'taiwanInfoHot7',
 'dahu',
 'primarySchool',
 'taiwanInfoMaBoss']

In [358]:
collection = db.wowprimediendata
wowData=list(collection.find({}))

In [359]:
client.close()

In [360]:
from datetime import datetime
wowData=[[i.get("Called",""),
               i.get("CareerNo",""),
               i.get("StoreNo",""),
               i.get("StoreName",""),
               i.get("Address",""),
               i.get("bigadd",""),
               i.get("smalladd",""),
               i.get("storeType",""),
               i.get("lat",0.0),
               i.get("lng",0.0),
               i.get("CloseDate",""),
               i.get("CreateDate",""),
               i.get("ADGC_weekday",0),
               i.get("ADGC_holiday",0)] for i in wowData]

In [361]:
for i in wowData:
    if i[-3]!="None":
        i[-3]=str(datetime.strptime(i[-3].split(".")[0],'%Y-%m-%d %H:%M:%S'))
    if i[-4]!="None":
        i[-4]=str(datetime.strptime(i[-4].split(".")[0],'%Y-%m-%d %H:%M:%S'))

In [362]:
wowData=[tuple(i) for i in wowData]

In [364]:
try:
    client.close()
except:
    pass

In [375]:
conn = pymssql.connect(server='172.20.26.39:22534', user='sim',
                           password='123', database='SIM',charset='utf8')

In [376]:
cursor = conn.cursor()

In [ ]:
cursor.executemany("insert into wow_store (career,career_no,stor_id,stor_name,address,bigadd,smalladd,store_type,lat,lng,close_date,create_date,adgc_weekday,adgc_holiday)\
values (%s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s)",
    wowData)

In [378]:
conn.commit()

In [379]:
cursor.close()
conn.close()

# 轉換愛評網資料

In [411]:
import pymssql
import pymongo

In [412]:
client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
#     client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
db=client['rawData']
db.collection_names()

['MRTinfo',
 'info3Store',
 'websites591',
 'taiwanInfo',
 'trainStation',
 'taiwanInfoIta',
 'eslite',
 'ipeenInfo',
 'conStore',
 'CostPower',
 'infoClinic',
 'Watsons',
 'pxmart',
 'taiwanInfoSuFood',
 'busData',
 'HRdata104',
 'wowprimediendata',
 'info591',
 'departmentStore',
 'carrefour',
 'smallStyleCount',
 'addressCoordinate',
 'Nhuman',
 'taiwanInfoStoneTwo',
 'ipeenWebsite',
 'realPriceLogin',
 'canSuMe',
 'bigStyleCount',
 'taiwanInfoHot7',
 'dahu',
 'primarySchool',
 'taiwanInfoMaBoss']

In [413]:
collection = db.ipeenInfo
ipeenData=list(collection.find({}))

In [414]:
client.close()

In [415]:
from datetime import datetime
ipeenData=[[i.get("name",""),
               i.get("lat",0.0),
               i.get("lng",0.0),
               i.get("bigadd",""),
               i.get("smalladd",""),
               i.get("address",""),
               i.get("bigstyle",""),
               i.get("smallstyle",""),
               i.get("averagecost",0),
               i.get("Ncomment",0),
               i.get("viewcount",0),
               i.get("reviewdate","")] for i in ipeenData]

In [420]:
i[-1]

'2018-09-30 00:00:00'

In [ ]:
for i in ipeenData:
    if i[-1]!="":
        i[-1]=str(datetime.strptime(i[-1].split(".")[0],'%Y/%m/%d'))

In [422]:
ipeenData=[tuple(i) for i in ipeenData]

In [424]:
try:
    client.close()
except:
    pass

In [425]:
conn = pymssql.connect(server='172.20.26.39:22534', user='sim',
                           password='123', database='SIM',charset='utf8')

In [426]:
cursor = conn.cursor()

In [427]:
cursor.executemany("insert into ipeen_data (name,lat,lng,bigadd,smalladd,address,bigstyle,smallstyle,averagecost,ncomment,viewcount,reviewdate)\
values (%s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s)",
    ipeenData)

In [428]:
conn.commit()

In [429]:
cursor.close()
conn.close()

# 轉換消費力資料

In [530]:
import pymssql
import pymongo

In [531]:
client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
#     client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
db=client['rawData']
db.collection_names()

['MRTinfo',
 'info3Store',
 'websites591',
 'taiwanInfo',
 'trainStation',
 'taiwanInfoIta',
 'eslite',
 'ipeenInfo',
 'conStore',
 'CostPower',
 'infoClinic',
 'Watsons',
 'pxmart',
 'taiwanInfoSuFood',
 'busData',
 'HRdata104',
 'wowprimediendata',
 'info591',
 'departmentStore',
 'carrefour',
 'smallStyleCount',
 'addressCoordinate',
 'Nhuman',
 'taiwanInfoStoneTwo',
 'ipeenWebsite',
 'realPriceLogin',
 'canSuMe',
 'bigStyleCount',
 'taiwanInfoHot7',
 'dahu',
 'primarySchool',
 'taiwanInfoMaBoss']

In [532]:
collection = db.CostPower
Data=list(collection.find({}))

In [534]:
client.close()

In [535]:
from datetime import datetime
Data1=[[round(i.get("lat",0.0),8),
               round(i.get("lng",0.0),8),
               i.get("bigadd",""),
               i.get("smalladd",""),
               i.get("_id","")[-3:],
               int(i.get("costPower",0.0)),
               "消費力-電子發票張數"] for i in Data]
Data2=[[round(i.get("lat",0.0),8),
               round(i.get("lng",0.0),8),
               i.get("bigadd",""),
               i.get("smalladd",""),
               i.get("_id","")[-3:],
               int(i.get("invoice",0.0)),
               "消費力-電子發票額度"] for i in Data]

In [536]:
Data1=[tuple(i) for i in Data1]
Data2=[tuple(i) for i in Data2]

In [537]:
try:
    client.close()
except:
    pass

In [538]:
conn = pymssql.connect(server='172.20.26.39:22534', user='sim',
                           password='123', database='SIM',charset='utf8')

In [539]:
cursor = conn.cursor()

In [540]:
cursor.executemany("insert into costpower (lat,lng,bigadd,smalladd,area,costpower,type_costpower)\
values (%s, %s, %s, %s, %s, %s, %s)",
    Data1)

In [541]:
cursor.executemany("insert into costpower (lat,lng,bigadd,smalladd,area,costpower,type_costpower)\
values (%s, %s, %s, %s, %s, %s, %s)",
    Data2)

In [542]:
conn.commit()

In [543]:
cursor.close()
conn.close()

# 轉換人口資料

In [513]:
import pymssql
import pymongo

In [514]:
client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
#     client=pymongo.MongoClient('192.168.1.113', 27017,username="j122085",password="850605")
db=client['rawData']
db.collection_names()

['MRTinfo',
 'info3Store',
 'websites591',
 'taiwanInfo',
 'trainStation',
 'taiwanInfoIta',
 'eslite',
 'ipeenInfo',
 'conStore',
 'CostPower',
 'infoClinic',
 'Watsons',
 'pxmart',
 'taiwanInfoSuFood',
 'busData',
 'HRdata104',
 'wowprimediendata',
 'info591',
 'departmentStore',
 'carrefour',
 'smallStyleCount',
 'addressCoordinate',
 'Nhuman',
 'taiwanInfoStoneTwo',
 'ipeenWebsite',
 'realPriceLogin',
 'canSuMe',
 'bigStyleCount',
 'taiwanInfoHot7',
 'dahu',
 'primarySchool',
 'taiwanInfoMaBoss']

In [515]:
collection = db.Nhuman
Data=list(collection.find({}))

In [516]:
Data[0]

{'Nhuman': '1567',
 '_id': '新北市板橋區流芳里',
 'bigadd': '新北市',
 'lat': 25.00855000000007,
 'lng': 121.45719000000008,
 'smalladd': '板橋區'}

In [517]:
client.close()

In [518]:
from datetime import datetime
Data1=[[round(i.get("lat",0.0),8),
               round(i.get("lng",0.0),8),
               i.get("bigadd",""),
               i.get("smalladd",""),
               i.get("_id","")[-3:],
               int(i.get("Nhuman",0.0))
       ] for i in Data]

In [519]:
Data1=[tuple(i) for i in Data1]

In [520]:
try:
    client.close()
except:
    pass

In [525]:
conn = pymssql.connect(server='172.20.26.39:22534', user='sim',
                           password='123', database='SIM',charset='utf8')

In [526]:
cursor = conn.cursor()

In [527]:
cursor.executemany("insert into population (lat,lng,bigadd,smalladd,area,population)\
values (%s, %s, %s, %s, %s, %s)",
    Data1)

In [528]:
conn.commit()

In [529]:
cursor.close()
conn.close()