In [28]:
import pymongo
client = pymongo.mongo_client.MongoClient("192.168.1.113", 27017, username='j122085', password='850605')
db = client.rawData

In [30]:
db.collection_names()

['MRTinfo',
 'info3Store',
 'websites591',
 'taiwanInfo',
 'trainStation',
 'taiwanInfoIta',
 'eslite',
 'ipeenInfo',
 'conStore',
 'CostPower',
 'infoClinic',
 'Watsons',
 'pxmart',
 'taiwanInfoSuFood',
 'busData',
 'HRdata104',
 'wowprimediendata',
 'info591',
 'departmentStore',
 'carrefour',
 'smallStyleCount',
 'addressCoordinate',
 'Nhuman',
 'taiwanInfoStoneTwo',
 'ipeenWebsite',
 'realPriceLogin',
 'canSuMe',
 'bigStyleCount',
 'taiwanInfoHot7',
 'dahu',
 'primarySchool',
 'taiwanInfoMaBoss']

In [31]:
co_names=db.collection_names()
co_names.sort()
for collection_name in co_names:    
    collection=db[collection_name]
    print("collection(table):",collection_name)
    data=collection.find_one()
    for col in data:
        print("\t",col,":",type(data[col]))

collection(table): CostPower
	 _id : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 costPower : <class 'str'>
	 invoice : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
collection(table): HRdata104
	 _id : <class 'bson.objectid.ObjectId'>
	 APPEAR_DATE : <class 'str'>
	 JOB : <class 'str'>
	 JOBCAT_DESCRIPT : <class 'str'>
	 JOB_ADDRESS : <class 'str'>
	 JOB_ADDR_NO_DESCRIPT : <class 'str'>
	 LAT : <class 'float'>
	 LON : <class 'float'>
	 NAME : <class 'str'>
	 PRODUCT : <class 'str'>
	 SAL_MONTH_HIGH : <class 'int'>
	 SAL_MONTH_LOW : <class 'int'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 bigstyle : <class 'str'>
collection(table): MRTinfo
	 _id : <class 'int'>
	 項次 : <class 'int'>
	 出入口編號 : <class 'str'>
	 name : <class 'str'>
	 lng : <class 'float'>
	 lat : <class 'float'>
	 lunch : <class 'int'>
	 dinner : <class 'int'>
collection(table): Nhuman
	 _id : <class 'str'>
	 Nhuman : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
collection(table): Watsons
	 _id : <class 'str'>
	 name : <class 'str'>
	 tele : <class 'str'>
	 address : <class 'str'>
	 lat : <class 'str'>
	 lng : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
collection(table): addressCoordinate
	 _id : <class 'bson.objectid.ObjectId'>
	 add : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
collection(table): bigStyleCount
	 _id : <class 'str'>
	 中式料理 : <class 'int'>
	 咖啡、簡餐、茶 : <class 'int'>
	 烘焙、甜點、零食 : <class 'int'>
	 buffet自助餐 : <class 'int'>
	 日式料理 : <class 'int'>
	 燒烤類 : <class 'int'>
	 異國料理 : <class 'int'>
	 鍋類 : <class 'int'>
	 早餐 : <class 'int'>
	 主題特色餐廳 : <class 'int'>
	 小吃 : <class 'int'>
	 亞洲料理 : <class 'int'>
	 冰品、飲料、甜湯 : <class 'int'>
	 素食 : <class 'int'>
	 速食料理 : <class 'int'>
	 其他美食 : <class 'int'>
	  : <class 'int'>
	 date : <class 'str'>
collection(table): busData
	 _id : <class 'str'>
	 stationName : <class 'str'>
	 bigCity : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
collection(table): canSuMe
	 _id : <class 'str'>
	 門市電話 : <class 'str'>
	 營業時間 : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 address : <class 'str'>
	 name : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
collection(table): carrefour
	 _id : <class 'str'>
	 name : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 address : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 tele : <class 'str'>
collection(table): conStore
	 _id : <class 'str'>
	 name : <class 'str'>
	 add : <class 'str'>
	 lat : <class 'str'>
	 lng : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
collection(table): dahu
	 _id : <class 'str'>
	 name : <class 'str'>
	 address : <class 'str'>
	 tele : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
collection(table): departmentStore
	 _id : <class 'str'>
	 name : <class 'str'>
	 othername : <class 'str'>
	 add : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 performance : <class 'str'>
collection(table): eslite
	 _id : <class 'bson.objectid.ObjectId'>
	 id : <class 'str'>
	 name : <class 'str'>
	 address : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
collection(table): info3Store
	 _id : <class 'str'>
	 tel : <class 'str'>
	 type : <class 'str'>
	 open : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 bigadd : <class 'int'>
	 smalladd : <class 'int'>
	 name : <class 'str'>
	 address : <class 'str'>
collection(table): info591
	 _id : <class 'str'>
	 url : <class 'str'>
	 title : <class 'str'>
	 seller : <class 'str'>
	 identity : <class 'str'>
	 phone : <class 'str'>
	 price : <class 'int'>
	 type : <class 'str'>
	 floor : <class 'str'>
	 totfloor : <class 'str'>
	 square : <class 'float'>
	 address : <class 'str'>
	 city : <class 'str'>
	 area : <class 'str'>
	 style : <class 'str'>
	 traffic : <class 'str'>
	 soldout : <class 'str'>
	 lat : <class 'str'>
	 lng : <class 'str'>
collection(table): infoClinic
	 _id : <class 'str'>
	 name : <class 'str'>
	 address : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
collection(table): ipeenInfo
	 _id : <class 'int'>
	 name : <class 'str'>
	 bigstyle : <class 'str'>
	 smallstyle : <class 'str'>
	 averagecost : <class 'int'>
	 tele : <class 'str'>
	 address : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 Ncomment : <class 'int'>
	 url : <class 'str'>
	 comments : <class 'list'>
	 ipeenscore : <class 'int'>
	 status : <class 'str'>
	 viewcount : <class 'int'>
	 collecount : <class 'int'>
	 reviewdate : <class 'str'>
	 othername : <class 'int'>
collection(table): ipeenWebsite
	 _id : <class 'str'>
	 website : <class 'str'>
collection(table): primarySchool
	 _id : <class 'str'>
	 代碼 : <class 'str'>
	 學校名稱 : <class 'str'>
	 公/私立 : <class 'str'>
	 縣市名稱 : <class 'str'>
	 地址 : <class 'str'>
	 電話 : <class 'str'>
	 網址 : <class 'str'>
	 name : <class 'str'>
	 address : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
collection(table): pxmart
	 _id : <class 'str'>
	 name : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 address : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 road : <class 'str'>
	 tele : <class 'str'>
collection(table): realPriceLogin
	 _id : <class 'str'>
	 地址 : <class 'str'>
	 每坪價格 : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
collection(table): smallStyleCount
	 _id : <class 'str'>
	 麵食點心 : <class 'int'>
	 複合式 : <class 'int'>
	 西點烘焙、麵包 : <class 'int'>
	 生魚片、壽司專賣 : <class 'int'>
	 中式糕餅 : <class 'int'>
	 火烤兩吃 : <class 'int'>
	 美式料理 : <class 'int'>
	 麻辣火鍋 : <class 'int'>
	 西式早餐 : <class 'int'>
	 台菜餐廳 : <class 'int'>
	 炭烤串燒 : <class 'int'>
	 法式料理 : <class 'int'>
	 北歐料理 : <class 'int'>
	 粵菜 港式飲茶 : <class 'int'>
	 涮涮鍋 : <class 'int'>
	 其他異國料理 : <class 'int'>
	 其他日式料理 : <class 'int'>
	 綜合日式料理 : <class 'int'>
	 酒吧 Lounge Bar : <class 'int'>
	 其他鍋類 : <class 'int'>
	 日式麵食專賣 : <class 'int'>
	 義式料理 : <class 'int'>
	 其他小吃 : <class 'int'>
	 北京菜 : <class 'int'>
	 啤酒屋 : <class 'int'>
	 日式燒肉 : <class 'int'>
	 印度料理 : <class 'int'>
	 剉冰、豆花 : <class 'int'>
	 咖啡專賣 : <class 'int'>
	 果汁 : <class 'int'>
	 其它主題餐廳 : <class 'int'>
	 休閒零食 : <class 'int'>
	 食補藥膳餐廳 : <class 'int'>
	 景觀餐廳 : <class 'int'>
	 懷舊主題 : <class 'int'>
	 日式豬排專賣 : <class 'int'>
	 德式料理 : <class 'int'>
	 早午餐 : <class 'int'>
	 冰淇淋 : <class 'int'>
	 情境主題餐廳 : <class 'int'>
	 泰式料理 : <class 'int'>
	 寵物餐廳 : <class 'int'>
	 甜點專賣 : <class 'int'>
	 巧克力專賣 : <class 'int'>
	 鐵板燒 : <class 'int'>
	 羊肉爐 : <class 'int'>
	 西式 : <class 'int'>
	 甜品、甜湯 : <class 'int'>
	 飲料專賣店 : <class 'int'>
	 漢堡、炸雞 : <class 'int'>
	 動漫主題餐廳 : <class 'int'>
	 壽喜燒 : <class 'int'>
	 眷村菜 : <class 'int'>
	 韓式料理 : <class 'int'>
	 下午茶 : <class 'int'>
	 蒙古烤肉 : <class 'int'>
	 西班牙料理 : <class 'int'>
	 綜合南洋料理 : <class 'int'>
	 海鮮餐廳 : <class 'int'>
	 日式 : <class 'int'>
	 熱炒、快炒 : <class 'int'>
	 中式 : <class 'int'>
	 其它中式料理 : <class 'int'>
	 其他亞洲料理 : <class 'int'>
	 韓式燒肉 : <class 'int'>
	 居酒屋 : <class 'int'>
	 四川菜 : <class 'int'>
	 其他類型早餐 : <class 'int'>
	 運動主題餐廳 : <class 'int'>
	 中式早餐 : <class 'int'>
	 滷肉飯 : <class 'int'>
	 其他美食 : <class 'int'>
	 肉圓 : <class 'int'>
	 英式料理 : <class 'int'>
	 上海菜(江浙菜) : <class 'int'>
	 量販店熟食部 : <class 'int'>
	 客家菜 : <class 'int'>
	 墨西哥料理 : <class 'int'>
	 滷味 : <class 'int'>
	 臭豆腐 : <class 'int'>
	 山產野菜餐廳 : <class 'int'>
	 越南料理 : <class 'int'>
	 披薩 : <class 'int'>
	 文字燒、大阪燒 : <class 'int'>
	 其他速食 : <class 'int'>
	 懷石料理 : <class 'int'>
	 自助餐 便當 : <class 'int'>
	 溫泉餐廳 : <class 'int'>
	 鹹酥雞、炸雞排 : <class 'int'>
	 茶專賣 : <class 'int'>
	 蚵仔煎 : <class 'int'>
	 筒仔米糕 : <class 'int'>
	 紐澳料理 : <class 'int'>
	 親子餐廳 : <class 'int'>
	 湘菜(湖南菜) : <class 'int'>
	 麵攤、麵店 : <class 'int'>
	 星馬料理 : <class 'int'>
	 養生蔬食餐廳 : <class 'int'>
	 葡萄牙料理 : <class 'int'>
	 非洲料理 : <class 'int'>
	 石頭火鍋 : <class 'int'>
	 薑母鴨 : <class 'int'>
	 現場演奏餐廳 : <class 'int'>
	 蔥油餅、蔥抓餅 : <class 'int'>
	 中東料理 : <class 'int'>
	 希臘料理 : <class 'int'>
	 雲南菜 : <class 'int'>
	 肉粽 : <class 'int'>
	 麵線 : <class 'int'>
	 藥燉排骨 : <class 'int'>
	 胡椒餅 : <class 'int'>
	 鹹水雞 : <class 'int'>
	 鵝肉 : <class 'int'>
	 澳門美食 : <class 'int'>
	 刈包 : <class 'int'>
	 台灣原住民料理 : <class 'int'>
	 水煎包、生煎包 : <class 'int'>
	 米粉湯 : <class 'int'>
	 牛排 : <class 'int'>
	 小吃 : <class 'int'>
	 焢肉飯 : <class 'int'>
	 桌遊主題餐廳 : <class 'int'>
	 比利時料理 : <class 'int'>
	 其他類型buffet自助餐 : <class 'int'>
	  : <class 'int'>
	 四神湯 : <class 'int'>
	 碗粿 : <class 'int'>
	 溫體牛 : <class 'int'>
	 果昔 : <class 'int'>
	 豬血糕 : <class 'int'>
	 俄羅斯料理 : <class 'int'>
	 印尼料理 : <class 'int'>
	 新疆菜 : <class 'int'>
	 緬甸料理 : <class 'int'>
	 棺材板 : <class 'int'>
	 date : <class 'str'>
collection(table): taiwanInfo
	 _id : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 areaRadius_Analyze : <class 'int'>
	 costPower_Analyze : <class 'int'>
	 NcostData_Analyze : <class 'int'>
	 Nhuman_Analyze : <class 'int'>
	 avgSalary_Analyze : <class 'int'>
	 Njob_Analyze : <class 'int'>
	 avgCost_Analyze : <class 'int'>
	 mostStyle_Analyze : <class 'str'>
	 NbusStation_Analyze : <class 'int'>
	 NconStore_Analyze : <class 'int'>
	 Nstar_Analyze : <class 'int'>
	 Nmc_Analyze : <class 'int'>
	 Nken_Analyze : <class 'int'>
	 Nwa_Analyze : <class 'int'>
collection(table): taiwanInfoHot7
	 _id : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 areaRadius_Analyze : <class 'int'>
	 NconStore_Analyze : <class 'int'>
	 Nwatson_Analyze : <class 'int'>
	 Npxmart_Analyze : <class 'int'>
	 NclinicData_Analyze : <class 'int'>
	 NtStore_Analyze : <class 'int'>
	 NsimCostDien : <class 'int'>
	 score : <class 'int'>
	 NDapu_analyze : <class 'int'>
collection(table): taiwanInfoIta
	 _id : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 areaRadius_Analyze : <class 'int'>
	 Nclinic_Analyze : <class 'int'>
	 Ndahu_Analyze : <class 'int'>
	 Npsch_Analyze : <class 'int'>
	 NgoodDien : <class 'int'>
	 Nstar_Analyze : <class 'int'>
	 score : <class 'int'>
collection(table): taiwanInfoMaBoss
	 _id : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 areaRadius_Analyze : <class 'int'>
	 NconStore_Analyze : <class 'int'>
	 Nwatson_Analyze : <class 'int'>
	 Npxmart_Analyze : <class 'int'>
	 NsimCostDien : <class 'int'>
	 NThreeMom_analyze : <class 'int'>
	 NTea_analyze : <class 'int'>
	 Nmc_Analyze : <class 'int'>
	 Nken_Analyze : <class 'int'>
	 score : <class 'int'>
collection(table): taiwanInfoStoneTwo
	 _id : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 areaRadius_Analyze : <class 'int'>
	 costPower_Analyze : <class 'int'>
	 NcostData_Analyze : <class 'int'>
	 Nhuman_Analyze : <class 'int'>
	 avgSalary_Analyze : <class 'int'>
	 Njob_Analyze : <class 'int'>
	 avgCost_Analyze : <class 'float'>
	 mostStyle_Analyze : <class 'str'>
	 NbusStation_Analyze : <class 'int'>
	 NconStore_Analyze : <class 'int'>
	 Nstar_Analyze : <class 'int'>
	 Nmc_Analyze : <class 'int'>
	 Nken_Analyze : <class 'int'>
	 Nwa_Analyze : <class 'int'>
	 NsimCostDien : <class 'int'>
	 Nwatson_Analyze : <class 'int'>
	 Ncarrefour_Analyze : <class 'int'>
	 Npxmart_Analyze : <class 'int'>
	 score : <class 'int'>
collection(table): taiwanInfoSuFood
	 _id : <class 'str'>
	 lat : <class 'float'>
	 lng : <class 'float'>
	 areaRadius_Analyze : <class 'int'>
	 NconStore_Analyze : <class 'int'>
	 Nwatson_Analyze : <class 'int'>
	 NcanSuMe_Analyze : <class 'int'>
	 NMRT_Analyze : <class 'int'>
	 Neslite_Analyze : <class 'int'>
	 NgoodDien : <class 'int'>
	 NVeget_analyze : <class 'int'>
	 score : <class 'int'>
collection(table): trainStation
	 _id : <class 'str'>
	 name : <class 'str'>
	 out : <class 'float'>
	 in : <class 'float'>
	 lat : <class 'float'>
	 lng : <class 'float'>
collection(table): websites591
	 _id : <class 'bson.objectid.ObjectId'>
	 urls : <class 'list'>
collection(table): wowprimediendata
	 _id : <class 'str'>
	 Address : <class 'str'>
	 AreaManager : <class 'str'>
	 Called : <class 'str'>
	 CareerName : <class 'str'>
	 CareerNo : <class 'str'>
	 Chef : <class 'str'>
	 CodeId : <class 'str'>
	 CorporationId : <class 'str'>
	 Corporation_ch : <class 'str'>
	 CreateDate : <class 'str'>
	 ItemName : <class 'str'>
	 Manager : <class 'str'>
	 PlaceNo : <class 'str'>
	 Phone : <class 'str'>
	 StoreName : <class 'str'>
	 StoreNo : <class 'str'>
	 CloseDate : <class 'str'>
	 bigadd : <class 'str'>
	 smalladd : <class 'str'>
	 rent : <class 'int'>

In [32]:
client.close()